@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #38b6ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-jetbrains: var(--font-jetbrains);
  --color-primary: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

@utility container {
  @apply mx-auto max-w-4xl xl:max-w-5xl 2xl:max-w-7xl px-5 md:px-0;
}

@layer utilities {
  /* Ocultar scrollbar pero mantener funcionalidad */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE y Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Opera */
  }
}

.gradient-text {
  background: linear-gradient(to right, #ffffff, #38b6ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--color-primary);
}
